h1 {
  color: red;
}
p{color: blue;
font-family: helvetica;
font-size: 16px;
}

ul li{
  colour; green:
  background-color:yellow;
}
h2{
  colour:green;
  background-color:orange;

}
ol li{
  background color: teal;
}/* write your CSS here */
